.main-container {
    -fx-padding: 10 10 5 10;
    -fx-pref-width: 1300;
    -fx-pref-height: 500;
}

.title-container {
    -fx-alignment: CENTER;
    -fx-vgap: 20;
    -fx-spacing: 20;
}

.title-container .title {
    -fx-font-size: 50;
    -fx-font-weight: bold;
}

.footer-container {
    -fx-alignment: CENTER_RIGHT;
    -fx-font-size: 14;
}

.footer-container Hyperlink {
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.content-container .text {
    -fx-font-size: 42;
}

.content-container .buttons-container {
    -fx-spacing: 30;
    -fx-alignment: CENTER;
}

.content-container .result {
    -fx-font-size: 50;
}

#buttons {
    -fx-hgap: 5;
    -fx-vgap: 5;
}